
    a:visited {
        color: brown;
    }

    a:hover {
        color: rebeccapurple;
        

        
    }

    a:active {
        color: red;
    }

    nav li {
        margin-bottom: 1ex;
        
        
    }

    ol { list-style-type: upper-roman; 
    }
    
    p {
        text-align: justify;
    }
